* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

#game-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}