@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Micro 5", sans-serif;
  border: none;

  -webkit-user-select: none; /* Safari, Chrome, Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard syntax */
}

html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#game-container {
  width: 100%;
  height: 100%;
  background-color: black;
}