.banner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;

  z-index: 100;
  pointer-events: none;
}

.banner .content-wrapper {
  margin: auto;
  background-color: white;
  overflow: hidden;
  padding: 1rem;
  border: 5px solid #111;
  pointer-events: all;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .content-wrapper .title {
  font-size: 3rem;
  color: #111;
}

.banner .content-wrapper .description {
  font-size: 2rem;
  color: #000;
  margin: 1rem 0;
}

.banner .content-wrapper .image {
  max-height: 300px;
  margin-top: 0.5rem;
  border: 3px solid #111;
}

.banner .content-wrapper .button {
  background-color: #3B4372;
  color: white;
  width: 100%;
  font-weight: 600;
  border: 3px solid #111; 
  border-radius: 0;
  font-size: 2rem;
}

.banner .content-wrapper .button:hover {
  filter: brightness(1.1);
}